@import "tailwindcss";
@plugin "daisyui";
@import url(' href="https://db.onlinewebfonts.com/c/106ccd1b14f16971c332e309cec7d90b?family=Font" rel="stylesheet"');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Font";
  --font-main: "Montserrat";
  --breakpoint-mn: 438px;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 70rem;
  --breakpoint-2xl: 84rem;
}

body {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html.dark a {
  color: #fff !important;
}

.button {
  border: 1px solid transparent;
  background: padding-box linear-gradient(rgb(000 000 000), rgb(000 000 000)),
    border-box
      linear-gradient(
        to right,
        rgb(255 45 247 / 0.5),
        rgb(82 0 255 / 0.5),
        rgb(0 240 255 / 0.5)
      );
}

.button:hover {
  background: padding-box linear-gradient(rgb(000 000 000), rgb(000 000 000)),
    border-box
      linear-gradient(
        to right,
        rgb(255 45 247 / 0.9),
        rgb(82 0 255 / 0.9),
        rgb(0 240 255 / 0.9)
      );
}

.btn-email {
  border: 1px solid transparent;
  background: padding-box linear-gradient(rgb(23 23 23), rgb(23 23 23)),
    border-box
      linear-gradient(
        to right,
        rgb(255 45 247 / 0.9),
        rgb(82 0 255 / 0.9),
        rgb(0 240 255 / 0.9)
      );
}

@media all and (max-width: 1180px) {
  .product-img__wrapper {
    left: 5.5rem;
  }
}

@media all and (max-width: 1120px) {
  .product-img__wrapper {
    left: 6rem;
    top: 5rem;
  }
}

@media all and (max-width: 1040px) {
  .btn-wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media all and (max-width: 1010px) {
  .product-img__wrapper {
    left: 5.5rem;
    top: 4.5rem;
  }
}

@media all and (max-width: 768px) {
  .team-member-cart,
  .pricing-section__content-wrapper , .copy-right-border , .product-border , .explore-border , .enter-price-border , .market-border {
    background: linear-gradient(
      to right,
      rgb(255 45 247 / 0.9),
      rgb(82 0 255 / 0.9),
      rgb(0 240 255 / 0.9)
    );
  }
  .btn-wrapper {
    align-items: center;
  }
  .btn-email {
    background: rgba(193, 193, 193, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(193, 193, 193, 0.71);
  }
}

@media all and (max-width: 370px) {
  .my-btn {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}